body{
    margin-left: 10%;
    margin-right: 10%;
    overflow-x: hidden;
}

 #navbar {
   
    top: 0%;
    display: flex;
  
    background-color: rgb(223, 135, 135);
    border-radius: 50px;
    padding: 20px;
    margin-left: 10%;
    z-index: 1;
}
#title{
    position: relative;
    margin-top: 10%;
   text-align: center;
}

#insidebar a:hover{
    transform: scale(1.5);
    color: rgb(223, 135, 135);;
    background: white;
    border-radius: 5px;
}


#navbar a {
    color: white;
    text-decoration: none;
 }

#insidebar {
    display: flex;
    gap: 100px;
}

#navbar {
    flex-direction: column;
    align-items: center;
}  

.change {
    color: rgb(0, 0, 0);
   
}
#object{
    font-size: 60px;
    text-align: center;
   
    
}

.food {
    display: flex;
    
}

.fruitList img {
    width: 30%;
    height: 40%;
}
.detail{
    
   
    position: fixad;
    border: 5px solid;
    border-color: rgb(245, 138, 135);
    padding: 7%;
    background-color: black;
    text-align: center;
    font-weight: 200;
   
    background-repeat: no-repeat;
  
     margin-right: 10%;
     border-radius: 5%;
     margin-left: 10%;
     color: white;
     margin-top: 0%;
    
 }
 